@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

@import "tailwindcss";
@theme {
  --color-primary: #5f0a87;
  --color-secondary: #2f004f;
  --color-accent: #fb8b24;
  --color-login: #a6f584;
  --font-coiny: "coiny", sans-serif;
}
